<table id="example2" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>No.</th>
            <th>Nama</th>
            <th>Aksi</th>
        </tr>
    </thead>
    <tbody>
        <% let num = 1 %>
        <% categories.forEach(category => {  %>
            <tr>
                <td>
                    <%= num++ %>
                </td>
                <td>
                    <%= category.name %> 
                </td>
                <td>
                    <form action="/category/edit/<%= category._id %>?_method=DELETE" method="post">
                        <a href="/category/edit/<%= category._id %>" class="btn btn-info btn-sm">
                            <i class="fas fa-pencil-alt"></i>
                            Ubah
                        </a>
                        <button class="btn btn-danger btn-sm">
                            <i class="fas fa-trash"></i>
                            Hapus
                        </button>
                    </form>
                </td>
            </tr>
        <% }) %>
    </tbody>
</table>